@media (min-width: 370px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #fff;
    height: 100vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 24px;
  }

  header p {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    width: 120px;
    color: #5c66b9;
    font-family: 'Poppins', sans-serif;
  }

  .image-logo {
    width: 20px;
    height: 15px;
  }

  header a {
    text-decoration: none;
  }

  .section-one {
    background-image: url("images/header-shapes\ mobile.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .section-one h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 10px 0;
    padding-top: 80px;
    color: #172b4d;
    align-items: center;
  }

  .section-one p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 10px;
  }

  .social-media {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 15px;
  }

  .link-text a {
    text-decoration: none;
  }

  .social-media li {
    list-style: none;
  }

  .social-media li a {
    text-decoration: none;
    color: #505f79;
  }

  .language-set a img {
    padding-left: 20px;
    margin-top: 10px;
  }

  .social-media li a img {
    width: 20px;
  }

  .link-text {
    font-size: 17px;
    font-weight: 500;
    width: 200px;
    color: #172b4d;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3;
  }

  .works-section {
    display: grid;
    grid-template-rows: auto;
    padding: 160 24px;
    gap: 86px;
  }

  .work-card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
  }

  .work-card h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .frame p {
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
  }

  .canopy p {
    color: #344563;
  }

  .wrap-frame {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }

  .par p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #344563;
    margin-bottom: 10px;
  }

  .language-set li {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 4px 12px;
    background: #ebebff;
    margin-bottom: 20px;
    background-color: #f7f7f9;
    position: relative;
    margin-top: 15px;
  }

  .lang-button ul li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .lang-button li a {
    text-decoration: none;
    border-radius: 10px;
    padding: 4px 12px;
    background: #ebebff;
    margin-bottom: 20px;
  }

  .btn {
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 10px 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 150px;
    color: #396df2;
  }

  /* About Me Section */

  .About-section {
    background: #fff;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
  }

  .about-wrap h1 {
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
    margin-bottom: 20px;
  }

  .about-wrap p {
    font-weight: 400;
    font-size: 16px;
    color: #344563;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
  }

  .skill-sets {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 35px;
  }

  .skill-sets ul li {
    list-style: none;
    padding-bottom: 20px;
  }

  .skill-sets ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #000;
  }

  .language-set span {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    font-weight: 500;
    font-size: 15px;
    color: #253858;
  }

  .line {
    position: relative;
    margin-bottom: 20px;
  }

  .line span {
    position: absolute;
    content: "";
    width: 50%;
    height: 5px;
    color: #000;
    left: 0;
    bottom: 2px;
  }

  .contact-section {
    display: flex;
    padding: 24px;
    background-color: #6070ff;
    border-top-left-radius: 90px;
    height: 105vh;
    position: relative;
    font-family: "Poppins", sans-serif;
  }

  .shape-form {
    position: absolute;
    background: url("images/contact\ form\ shapes-mobile@2x.png");
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    position: absolute;
    padding: 0 0 40px 0;
    transform: translate(-50% -50%);
  }

  .contact-wrapper h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }

  .contact-wrapper p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #ebebff;
    margin-bottom: 10px;
    padding: 15px;
  }

  .contact-wrapper form {
    padding: 0 50px;
  }

  form .field {
    background: #fff;
    border: 1px solid #cfd8dc;
    margin: 10px 0;
    position: relative;
    border-radius: 15px;
  }

  .field input {
    font-weight: 400;
    font-size: 17;
    width: 300px;
    padding: 0 5px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 15px;
  }

  form .message input {
    height: 150px;
  }

  form .message input::placeholder {
    text-align: top;
    font-size: 17px;
  }

  form .submit {
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17;
    text-align: center;
    left: 0;
  }

  .bottom-line {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    background-color: #0d151e;
    bottom: 0;
    left: 40%;
    right: 40%;
    top: 98%;
  }

  .link-text:hover {
    border-radius: 8px;
    color: #fff;
    transform: scale(1.1);
  }

  .btn:enabled {
    color: #6070ff;
    background-color: #fff;
  }

  .btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .btn:disabled {
    background-color: #e5e5ee;
    color: #5e6c84;
    font-size: 17px;
  }
}
