@media (min-width: 370px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f7f7f9;
    height: 100vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 24px;
  }

  header h1 {
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    width: 120px;
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
  }

  header img {
    width: 20px;
    height: 15px;
  }

  .section-one {
    background-image: url("header-shapes mobile.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Robota', cursive;
  }

  .section-one h1 {
    font-weight: 700;
    font-size: 40px;
    width: 70%;
    margin: 10px 0;
    padding-left: 20px;
    padding-top: 70px;
    color: #172b4d;
  }

  .section-one p {
    width: 90%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .section-one h3 {
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
    color: #172b4d;
    margin-bottom: 10px;
  }

  .section-one img {
    width: 180px;
    padding-left: 20px;
  }
}
